nav {
    margin-top: 25px;
  }

  #logo img {
    float: left;
  }
  
  #logo h1 {
    padding-left: 50px;
    font-family: 'Yellowtail', cursive;
    font-size: 2.4em;
  }

  nav li {
    float: left;
    padding-right: 2px;
  }

  .date {
    float: left;
  }
  
  .print {
    text-decoration: none;
    padding-left: 30px;
    float: right;
  }
  
  .print img {
    margin-right: 3px;
  }

  input {
    font-family: 'Patrick Hand', cursive;
  }

  .recipe li {
    float: left;
    width: 40%;
    font-size: 1.3em;
    line-height: 31px;
  }

  aside img {
    float: left;
  }

  aside p {
    padding-left: 100px;
    width: 65%;
    margin: 0;
    text-indent: 0;
  
  }